In [30]:
#Change the value 10 in x to 15. Once you're done, x should now be [ [5,2,3], [15,8,9] ]
x = [ [5,2,3], [10,8,9] ] 

x[1][0]=15
for i in x:
  print(i)

[5, 2, 3]
[15, 8, 9]

In [37]:
#Change the value 20 in z to 30
z = [ {'x': 10, 'y': 20}]
z[0]['y']=30
print(z)

[{'x': 10, 'y': 30}]

In [40]:
#Change the last_name of the first student from 'Jordan' to 'Bryant'

students=[{'first_name':  'Michael', 'last_name' : 'Jordan'}
,{'first_name' : 'John', 'last_name' : 'Rosales'}]

students[0]['last_name']="Bryant"
print(students)

[{'first_name': 'Michael', 'last_name': 'Bryant'}, {'first_name': 'John', 'last_name': 'Rosales'}]

In [38]:
#In the sports_directory, change 'Messi' to 'Andres'
sports_directory = {
    'basketball' : ['Kobe', 'Jordan', 'James', 'Curry'],
    'soccer' : ['Messi', 'Ronaldo', 'Rooney']
}
sports_directory['soccer'][0]="Andres"
print(sports_directory)

{'basketball': ['Kobe', 'Jordan', 'James', 'Curry'], 'soccer': ['Andres', 'Ronaldo', 'Rooney']}